<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Dart 분석</title>
        <link rel="stylesheet" href="/main.css"/>
    </head>
    <body>
        <%- include('../common_html/main_title') %>
        <div class="main-body">
            <%- include('../common_html/menu') %>
            <div class="main-content">
                <%- include('../common_html/company_table') %>
            </div>
        </div>
    </body>
</html>